.new-navbar{
    background-color: #000;
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 20px;
    position: fixed;
}

.tabs
{
    display:flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
   
}
