.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .header {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .description {
    color: #4b5563;
  }
  
  .link {
    color: #2563eb;
    text-decoration: underline;
  }
  
  .carouselWrapper {
    margin-bottom: 3rem;
    transition: all 0.5s ease-in-out;
  }
  
  .carouselWrapper:hover {
    transform: scale(1.05);
  }
  
  .reviewsHeader
  {
    align-text: center;
  }