<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your company registered successfully</p>
        <p> Please, click the below link to login </p>
        <a href={{link}}>login</a>
    </body>
</html>