.listItem {
    border-bottom: 2px solid #e8e8e8;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
  }
  
  .spaceContainer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .crossButtonContainer {
    display: flex;
    align-items: center;
  }
  
  .crossLine {
    border-right: 1px solid #ff4d4f;
    height: 16px;
    margin-right: 8px;
  }
  
  .crossButton {
    color: #ff4d4f;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }

  .question-container {
    align-items: center;
    padding: 16px; 
    border-radius: 8px; 
  }
  
  .textarea-container {
    margin-right: 450px;
    width: 100%;
  }
  
  .primary-button {
    margin-right: 16px;
  }
  .spaceContainer{
    flex: 1;
  }

  .list-container {
    max-height: 200px; 
    overflow-y: auto; 
  }
  .spanContainer {
    margin-left: 8px;
  }