*
{
  margin:0 0;
}
.scroll-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  transition: scroll 0.5s ease-in-out;
  scroll-behavior: smooth;
  width:100%
}

.scroll-section {
  display: flex;
  justify-content: center;
  background-color: #070707;
  scroll-snap-align: start;
}


