.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    background: transparent;
    max-width:1350px
  }

  .projects-container
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
  }

  @media (max-width:1017px)
  {
    .projects-container{
      grid-template-columns: repeat(2,1fr);
    }
      
  }

  @media (max-width:760px)
  {
    .projects-container{
      grid-template-columns: repeat(1,1fr);
      display: flex;
    justify-content: center;
    flex-direction: row;

    }
  }